<h2> <%= @user.name %>'s Mining operation </h2>

<p>
you have <%=@coins = current_user.coins%> coins in your wallet.
<% #@workerCount = @workers.size %>
The stats for the mining operation are <%= @workers = @user.workers %>
</p>


