<h2> <%= @user.name %>'s Mining operation </h2>

<p>you have <%=@coins = current_user.coins%> coins in your wallet.</p>
<% @workerCount = @user.workers.size %>
<% if @workerCount == 0 %>
    <p> You have zero workers add some workers from drop down menu Account under workers</p>
<%else%>
    <p>You have <%= @workerCount %> workers and the stats for the mining operation are <%= @workers = @user.workers %> </p>
<%end%>


