<p>
 This website was created by Elliot Weil to monitor a LTC mining rig that is running cgminer.
 The website is built with ruby on rails(3.2). The purpose of the website is to make it easier to monitor and control your miner!
 Easiest way to get the website running it so buy a rasberrpi and host the server locally in your network then port forward the rashberrpi.
</p>
