<p>
 This website was created by Elliot Weil to monitor a LTC mining rig that is running cgminer.
 The website is built with ruby on rails(3.2). The purpose of the website is to make it easier to monitor and control your miner!
 Easiest way to get the website running and getting data to the website is using a raspberrypi on your local network.
 All price data provided by <a href="https://btc-e.com"> BTC-e </a>
</p>
