<div class="center hero-unit">
 <h1>Welcome to Miners Canary</h1>

 <h2> This is the Home page for Miners Canary</h2>
 <% if !signed_in?() %>
  </p>  <p>Miners Canary is website to monitor your cryptocurrency mining machines. 
      Miners Canary monitors Hashspeeds, Temperatures, Hardware Errors and more for all your miners.
      All you need to do is signup and download our client app on your miners.
      </p>        
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn- primary"%>
  <%else%>
      <p><%="Hello #{current_user.name}!"%> Head over to the Stats tab to view your miners statistics.
      You can also add more miners from the Account dropdown menu under add a worker.
      </p>
  <%end%>
</div>
