<div class="center hero-unit">
 <h1>Welcome to Miners Canary</h1>

 <h2> This is the Home page for Miners Canary</h2>
 <% if !signed_in?() %>
  <p> Sign in to manage your account and your workers.</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn- primary"%>
  <%else%>
      <P> Setup and manage all of workers from the drop down menu under Account.
      Select Stats to view your current workers performance!
      </p>
  <%end%>
</div>
