<h1>Home page for monitoring a worker</h1>
<p>
This page will display all the statics of a given worker who is using cgminer.
Here are your invation nextwork stats
<% api = 'ba3d6ff96f76740abc7baf1c03327767cf00b8a89e5942c4dffacd7f4cd84327'%>
<%=invpool_stats(api) %>
</p>
