user_info{ 'user'=>@user.id, 'worker'=>@worker.id'}
<p>Your worker has been updated</p>
#things to store in worker db
#1.accepted shares
#2.rejected shares
#3.HW errors
#4.number of gpus
#5.back-pool
#6.confirmed
